- var base = '/catalog/view/theme/ur/'
doctype html
html.no-js(lang='en')
    head
        | <?= $scripts ?>
        meta(http-equiv='Refresh', content='3; url=https://unlockriver.com')

    body
        | <?= isset($header) ? $header : "" ?>
        | <?= isset($header_form) ? $header_form : "" ?>
        // Start page content
        section#page-content.page-wrapper(style='color: #808080; font-size: 32px; margin-top: 120px; margin-bottom: 80px;')
            .container
                .row
                    .col-md-12.text-center unlockpanda.com is under maintenance. Please wait to be redirected or go to our partner website directly: &nbsp;
                        a(href='https://unlockriver.com') unlockriver.com