- var base = '/catalog/view/theme/ur/'
doctype html
html.no-js(lang='en')
    head
        | <?= $scripts ?>
    body
        | <?= isset($header) ? $header : "" ?>
        | <?= isset($header_form) ? $header_form : "" ?>
        section#page-content.page-wrapper.mt-50
            // SHOP SECTION START
            .shop-section.mb-80
                .container
                    | <? if(isset($flash) && $flash): ?>
                    .row
                        .alert.alert-danger <?= $flash['content']; ?>
                    | <? endif; ?>
                    .row
                        .col-md-12.col-sm-12.col-xs-12.information-page
                            h1 <?= $heading_title; ?>
                            h3 <?= $subheadline; ?>
                            | <? foreach($testimonials as $testimonial): ?>
                            .row
                                .col-md-4.col-sm-12.col-xs-12.text-center
                                    video(width='320', height='240',
                                    controls
                                    poster!='<?= $testimonial["poster"] ?>'
                                    preload!='<?= $testimonial["preload"] ?>'
                                    autoplay='<?= $testimonial["autoplay"]')
                                        source(src='', type='video/webm')
                                .col-md-8.col-sm-12.col-xs-12.text-center
                                    div.mt-100.hidden-sm.hidden-xs
                                    h3 "<?= $testimonial['text'] ?>"
                            
                            | <? endforeach; ?>
                                    
            | <?= $footer ?>  
        