doctype html
html.no-js(lang='en')
    head
        include ur_scripts.pug
    body
        include ur_header
        section#page-content.page-wrapper.mt-50
            // SHOP SECTION START
            .shop-section.mb-80
                .container
                    ul.cart-tab.row.mb-80
                        li.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            a.active(href='#' onclick='return false;')
                                span 1
                                | Phone details
                        li.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            a.active(href='#', onclick='return false;')
                                span 2
                                | Review order
                        li.col-lg-4.col-md-4.col-sm-4.col-xs-4
                            a(href='#', onclick='return false;')
                                span 3
                                | Confirmation

                    .row
                        .col-md-5.col-sm-12.col-xs-12
                            .row
                                .col-md-12
                                    p.mb-0 
                                        b Order the Permanent Factory Unlock of your 
                                            u iPhone 7
                                    p.mb-0 IMEI: 4324324234
                                    p.mb-0 Original carrier: Sprint
                            .row.mt-10
                                .col-md-4.col-sm-4
                                    img(src='https://www.unlockriver.com/image/cache/data/Acer/Allegro-150x150.jpg', alt='')
                                .col-md-8.col-sm-8
                                    h2.label.label-success.p-10
                                        i.zmdi.zmdi-time-countdown.mr-5
                                        | Delivery time: 1-3 business days
                                    p.mt-10.mb-0 Average competitor's price: $97.90
                                    p.mb-0 You save: $20.00
                                    p.mb-0 Our price: 
                                        b $75.90
                        .col-md-7.col-sm-12.col-xs-12(style='color: #434343')
                            p.hidden-lg.hidden-md
                            h3 What you need to know about this service:
                            ul
                                li - Once unlocked, you will be able to use your phone with any GSM SIM card worldwide.
                                li - Please note: unlocked phones will not support CDMA SIM card such as Sprint, Tracfone and Verizon.
                                li - It's permanent! No relocking after software updates.
                                li - Not all phones require an unlock code.  Please check that your phone does.
                                li - If your phone is originally from T-Mobile, MetroPCS and Family Mobile: please verify that your phone doesn't have the UnlockApp. This service will not unlock your phone.  Please contact us if this is the case.
                                li - No cancelations while processing
                            h3.mt-10 What this is not?
                            ul
                                li - This will not unblock a blacklisted IMEI
                                li - This is not an unlock for your phone's Passcode


                    .row
                        .col-md-12
                            hr
                    .row
                        .col-md-5.col-sm-12.col-xs-12
                            .row
                                .col-md-12
                                    p.mb-0
                                        b Order the Permanent Factory Unlock of your 
                                            u iPhone 7
                                    p.mb-0 IMEI: 4324324234
                                    p.mb-0 Original carrier: Sprint
                            .row.mt-10
                                .col-md-4
                                    img(src='https://www.unlockriver.com/image/cache/data/Acer/Allegro-150x150.jpg', alt='')
                                .col-md-8
                                    h2.label.label-success.p-10
                                        i.zmdi.zmdi-time-countdown.mr-5
                                        | Delivery time: 1-3 business days
                                    p.mt-10.mb-0 Average competitor's price: $97.90
                                    p.mb-0 You save: $20.00
                                    p.mb-0 Our price: 
                                        b $75.90
                        .col-md-7.col-sm-12.col-xs-12(style='color: #434343')
                            p.hidden-lg.hidden-md
                            h3 What you need to know about this service:
                            ul
                                li - Once unlocked, you will be able to use your phone with any GSM SIM card worldwide.
                                li - Please note: unlocked phones will not support CDMA SIM card such as Sprint, Tracfone and Verizon.
                                li - It's permanent! No relocking after software updates.
                                li - Not all phones require an unlock code.  Please check that your phone does.
                                li - If your phone is originally from T-Mobile, MetroPCS and Family Mobile: please verify that your phone doesn't have the UnlockApp. This service will not unlock your phone.  Please contact us if this is the case.
                                li - No cancelations while processing
                            h3.mt-10 What this is not?
                            ul
                                li - This will not unblock a blacklisted IMEI
                                li - This is not an unlock for your phone's Passcode

                    .row.row-equal-height.mt-50
                        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
                            .well
                                h1 Why unlock with us?
                                p UnlockRiver is highly reputable company. We've been unlocking cell phones 
                                    | for 7 years now and strive to provide the best service for our clientele.
                        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
                            .well
                                h1 What we do?
                                p We'll unlock your phone when they won't. In-Contract, Out of Contract, 
                                    | Installment plan, doesn't matter. Purchase and we'll unlock your phone 
                                    | 100% guaranteed.
                        .col-lg-4.col-md-4.col-sm-12.col-xs-12.text-center
                            .well
                                h1 Is it safe?
                                p We have unlocked more than 3 millions phones since 2007. It's easy, 100% legal, 
                                    | and requires no technical knowledge. If you ever need help, you chat with our
                                    | 24/7 support team.
                    .row.mt-50
                        .col-md-6
                            .coupon-discount.box-shadow.p-30.mb-50
                                h6.widget-title.border-left.mb-20 coupon discount
                                p Enter your coupon code if you have one!
                                input(type='text', name='name', placeholder='Enter your code here.')
                                button.submit-btn-1.black-bg.btn-hover-2(type='submit') apply coupon
                        .col-md-6
                            .payment-details.box-shadow.p-30.mb-50
                                h6.widget-title.border-left.mb-20 payment details
                                table
                                    tbody
                                        tr
                                            td.td-title-1 Cart Subtotal
                                            td.td-title-2 $155.00
                                        tr
                                            td.td-title-1 Shipping and Handing
                                            td.td-title-2 $15.00
                                        tr
                                            td.td-title-1 Vat
                                            td.td-title-2 $00.00
                                        tr
                                            td.order-total Order Total
                                            td.order-total-price $170.00
                                // shopping-cart end
            // SHOP SECTION END
            include ur_footer
        